.dados{
    display: flex;
    flex-direction: row;
    gap: 12rem;
    padding:2rem ;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 1px;
}