.dashboard{
    display: flex;
    gap: 1em;
    padding: 1rem;
   
    
   
}

.title_dashboard{
    margin-top: 1rem;
    margin-left: 2.5rem;
    
}
.itens_dashboard{
    background-color: rgb(236, 189, 130);
    height: 100px;
    width: 20%;
    margin: auto;

}
.title{
    margin-left: 1rem;
    margin-top: .6rem;
}

.texto_coluna{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
}

.itens_recentes{
    background-color: rgb(236, 189, 130);
    height: 50px;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16rem;
    align-items: center;
    padding-left: 8px;
    
}


.itens_acabando{
    background-color: rgb(236, 189, 130);
    height: 50px;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    align-items: center;
    padding-left: 8px;
    
}

.conteudo_itens_recentes{
    width: 45%;
    margin: auto 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    justify-content: space-between;
    
}
